<!-- Toolbar -->
<div class="toolbar" role="banner" fxLayout="row" fxLayoutAlign=start center style="background-color:#3F51B5">
  <img
    alt="AIESEC logo"
    src="assets/White-Blue-Logo.png"
    height="30px"
  />
  <span class="heading">AIESEC Sri Lanka Service Letter Request</span>

</div>

<div class="content" role="main" fxLayout="column" fxLayoutAlign="center center" style="padding:50px;">

  <mat-card>

    <mat-card-title>Basic Information</mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutAlign="stretch stretch" style="min-width:800px">

      <mat-form-field appearance="fill">
        <mat-label>Name (as it should appear on the letter)</mat-label>
        <input matInput [(ngModel)]="form.name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" [(ngModel)]="form.email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contact Number</mat-label>
        <input matInput [(ngModel)]="form.contact">
      </mat-form-field>

    </mat-card-content>

  </mat-card>

  <mat-card>

    <mat-card-title>AIESEC Information</mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutAlign="stretch stretch" style="min-width:800px">

      <mat-form-field appearance="fill">
        <mat-label>Entity</mat-label>
        <mat-select [(ngModel)]="form.entity">
          <mat-option *ngFor="let entity of entities" [value]="entity">{{entity}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="form.full_member">Are you a full member?</mat-checkbox>

      <div class="spacer"></div>

      <mat-form-field appearance="fill">
        <mat-label>Date you joined AIESEC</mat-label>
        <input matInput [matDatepicker]="joined" [(ngModel)]="form.joined">
        <mat-datepicker-toggle matSuffix [for]="joined"></mat-datepicker-toggle>
        <mat-datepicker #joined></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date you left AIESEC (leave blank if you are a currently active member)</mat-label>
        <input matInput [matDatepicker]="exit" [(ngModel)]="form.exit">
        <mat-datepicker-toggle matSuffix [for]="exit"></mat-datepicker-toggle>
        <mat-datepicker #exit></mat-datepicker>
      </mat-form-field>

    </mat-card-content>

  </mat-card>

  <mat-card>

    <mat-card-title>Positions Held</mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutAlign="stretch stretch" style="min-width:800px">

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="stretch stretch" *ngFor="let position of form.positions">

        <mat-form-field appearance="fill" fxFlex="33">
          <mat-label>Role/Position</mat-label>
          <input matInput [(ngModel)]="position.role">
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="33">
          <mat-label>Team/Function</mat-label>
          <input matInput [(ngModel)]="position.function">
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="33">
          <mat-label>Entity</mat-label>
          <input matInput [(ngModel)]="position.entity">
        </mat-form-field>

      </div>

      <button mat-icon-button color="primary" (click)="addExperience();">
        <mat-icon>add</mat-icon>
        <mat-label>Add another experience</mat-label>
      </button>

    </mat-card-content>

  </mat-card>

  <mat-card>

    <mat-card-title>Conferences Attended</mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutAlign="stretch stretch" style="min-width:800px">

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="stretch stretch" *ngFor="let conference of form.conferences">

        <mat-form-field appearance="fill" fxFlex="33">
          <mat-label>Role (delegate/faci)</mat-label>
          <input matInput [(ngModel)]="conference.role">
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="33">
          <mat-label>Conference Name</mat-label>
          <input matInput [(ngModel)]="conference.name">
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="33">
          <mat-label>Year</mat-label>
          <input matInput [(ngModel)]="conference.year">
        </mat-form-field>

      </div>

      <button mat-icon-button color="primary" (click)="addConference();">
        <mat-icon>add</mat-icon>
        <mat-label>Add another conference</mat-label>
      </button>

    </mat-card-content>

  </mat-card>

  <mat-card>

    <mat-card-title>Special Achievements</mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutAlign="stretch stretch" style="min-width:800px">

      <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="stretch stretch">

        <mat-form-field appearance="fill" fxFlex="100" *ngFor="let achievement of form.achievements; let i = index">
          <mat-label>Achievement</mat-label>
          <input matInput [(ngModel)]="form.achievements[i]">
        </mat-form-field>

      </div>

      <button mat-icon-button color="primary" (click)="addAchievement();">
        <mat-icon>add</mat-icon>
        <mat-label>Add another achievement</mat-label>
      </button>

    </mat-card-content>

  </mat-card>

  <mat-card>

    <mat-card-title>Other</mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutAlign="stretch stretch" style="min-width:800px">

      <mat-form-field appearance="fill" fxFlex="33">
        <mat-label>Name of the Vice President - People Management of your entity when you left AIESEC or current.</mat-label>
        <input matInput [(ngModel)]="form.pmvp">
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="33">
        <mat-label>The reason you're requesting an Experience Letter</mat-label>
        <input matInput [(ngModel)]="form.reason">
      </mat-form-field>

    </mat-card-content>

  </mat-card>

  <button mat-flat-button color="primary" (click)="print()">Submit</button>



</div>

<router-outlet></router-outlet>
